<!DOCTYPE HTML>
<html>
<body>
    <h2>Candidate Form</h2>
    <table border="5">
    <form  action = "/auth/register" method="POST">
    <tr>
        <td>Name:</td> 
        <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
        <td>Email:</td> 
        <td><input type="text" name="email" id="email" ></td>
    </tr>
    </table>

<button type="submit"  value="Submit" name="submit"  >Submit</button>

</form>


</body>
</html>